{% extends 'app/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <ul>
        {% for topic in topic_list %}
            <li>
                <div>
                    {{ topic.user.username }} | {{ topic.pub_date }} |
                    {% if topic.user.id == request.user.id %}
                        <a href="{% url 'app:topic_del' topic.id %}">删除</a>
                    {% endif %}
                </div>
                <div><a href="{% url 'app:topic_view' topic.id %}"><strong>{{ topic.title }}</strong></a></div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}