{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}
    注册
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <form class="form-signin text-center" action="{% url 'app:register' %}" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% url 'app:get_ver_code' %}" alt="验证码" id="imgCode" style="width: 120px;">
        <h1 class="h3 mb-3 font-weight-normal">注册</h1>
        <div role="alert" id="msg"></div>
        <label for="inputUsername" class="sr-only">用户名：</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="请输入用户名：" name="user" maxlength="150"
               required autofocus>
        <label for="pwd" class="sr-only">密码：</label>
        <input type="password" id="pwd" class="form-control" placeholder="请输入密码：" name="pwd" maxlength="128" required>
        <label for="pwd2" class="sr-only">确认密码：</label>
        <input type="password" id="pwd2" class="form-control" placeholder="请确认密码：" name="pwd2" maxlength="128" required>
        <label for="inputVerCode" class="sr-only">验证码：</label>
        <input type="text" id="inputVerCode" class="form-control" placeholder="请输入验证码：" name="verCode" maxlength="4"
               minlength="4" required>
        <br>
        <div class="checkbox mb-3">
            <label>
                <a href="{% url 'app:login' %}">返回登录</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="sub">注册</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            let $msg = $('#msg');

            {% if msg %}
                // 后端返回的提示
                $msg.attr('class', 'alert alert-danger').text('{{ msg }}');
            {% endif %}

            // 点击验证码图片更新
            $('#imgCode').click(function () {
                $(this).attr('src', "{% url 'app:get_ver_code' %}?t=" + Math.random() * 10);
            });

            // 提交按钮点击事件
            $('#sub').click(function () {
                // 如果两次输入的密码不一致则阻止提交并给出相应的提示
                if ($('#pwd').val() !== $('#pwd2').val()) {
                    $msg.text('两次输入的密码不一致！');
                    return false;
                }
                return true;
            });
        })
    </script>
{% endblock %}