{% extends 'app/base.html' %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block content %}
    <h1>{{ topic.title }}</h1>
    <h3>发布者：{{ topic.user.username }}</h3>
    <p>{{ topic.content }}</p>
    <h6>{{ topic.pub_date }}</h6>
    <hr>
    <ul>
        {% for leave_word in leave_word_list %}
            <li>
                {{ leave_word.user.username }} : {{ leave_word.content }} | <small>{{ leave_word.pub_date }}</small> |
                <a href="javascript:;" class="reply" data-id="{{ leave_word.id }}">回复</a>
                {% if leave_word.user.id == request.user.id %}
                    | <a href="{% url 'app:leave_word_del' leave_word.id %}">删除</a>
                {% endif %}
                {% if leave_word.leavewordreply_set.all %}
                    <ul>
                        {% for leave_word_reply in leave_word.leavewordreply_set.all %}
                            <li>
                                {{ leave_word_reply.user.username }} 回复 {{ leave_word.user.username }} : {{ leave_word_reply.content }} |
                                <small>{{ leave_word_reply.pub_date }}</small>
                                {% if leave_word_reply.user.id == request.user.id %}
                                    | <a href="{% url 'app:leave_word_reply_del' leave_word_reply.id %}">删除</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'app:leave_word_pub' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="topicId" value="{{ topic.id }}">
        <textarea name="content" cols="16" rows="8" placeholder="留下我的话" required></textarea><br>
        <input type="submit" value="发送">
    </form>

{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.reply').click(function () {
                let $leaveWordId = $(this).attr('data-id');
                let $form = `<form action="{% url 'app:leave_word_reply_pub' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="leaveWordId" value="${$leaveWordId}">
        <input type="text" name="replyContent" maxlength="255" required>
        <input type="submit" value="回复">
    </form>`;
                $(this).parent().html($(this).parent().html() + $form);
            });
        })
    </script>
{% endblock %}